# Ignore node_modules (will install inside container)

node_modules
\*\*/node_modules

# Ignore build output (build lại bên trong Docker)

dist
build

# Ignore logs

logs
\*.log

# Git metadata

.git
.gitignore

# IDE/editor folders

.vscode
.idea
.DS_Store

# Test & coverage

coverage
\*.test.js
