@use '../styles/config' as config;

.layout {
  width: 100vw;
  display: flex;
}

.content {
  background-color: #f9f9f9;
  width: calc(100% - config.$width-sidebar);
  height: 100vh;
  overflow-y: auto;
}
